In [1]:
import sys
sys.path.append(r"D:\project\Learn-Machine-Learning\CH02_DecisionTree\DecisionTree.py")

In [2]:
from DecisionTree import createDataSet, maxInfoGain
dataSet, labelSet = createDataSet()
dataSet['label'] = labelSet
dataSet[dataSet.house==0]

    age  work  house  credit  label
0     0     0      0       0      0
1     0     0      0       1      0
2     0     1      0       1      1
4     0     0      0       0      0
5     1     0      0       0      0
6     1     0      0       1      0
12    2     1      0       1      1
13    2     1      0       2      1
14    2     0      0       0      0

In [3]:
bestFeature = maxInfoGain(dataSet.drop('label', axis=1),dataSet.label)
bestFeature

Feature age ,infoGain 0.083007
Feature work ,infoGain 0.323650
Feature house ,infoGain 0.419973
Feature credit ,infoGain 0.362990

{'name': 'house', 'infoGain': 0.4199730940219749}

In [5]:

import pandas as pd
# labelDict = {1:14}
def createTree(dataSet):
    sigma = 0.0
    Tree = {}
    tree = {}
    def updateTree(dataSet):
        labelDict = dataSet['label'].value_counts().to_dict()
        featureNum = len(dataSet.columns) -1
        if len(labelDict) == 1:
            tree = {'label': list(labelDict.keys())[0]}
            Tree.update(tree)
            return Tree
        elif featureNum == 0:
            tree['label'] = sorted(labelDict.items(), key= lambda x : x[1], reverse=True)[0][0]
            Tree.update(tree)
            return Tree
        bestFeature = maxInfoGain(dataSet.drop('label', axis=1),dataSet.label)
        if bestFeature['infoGain'] < sigma:
            tree['label'] = sorted(labelDict.items(), key= lambda x : x[1], reverse=True)[0][0]
            Tree.update(tree)
        else:
            bestFeatName = bestFeature['name']
            tree[bestFeatName] = {}
            Tree.update(tree)
            for val in list(dataSet[bestFeatName].value_counts().index):
                subDataSet = dataSet[dataSet[bestFeatName] == val].drop(bestFeatName, axis=1)
                updateTree(subDataSet)
            return Tree
    return Tree
createTree(dataSet)

{}

In [6]:
dataSet

    age  work  house  credit  label
0     0     0      0       0      0
1     0     0      0       1      0
2     0     1      0       1      1
3     0     1      1       0      1
4     0     0      0       0      0
5     1     0      0       0      0
6     1     0      0       1      0
7     1     1      1       1      1
8     1     0      1       2      1
9     1     0      1       2      1
10    2     0      1       2      1
11    2     0      1       1      1
12    2     1      0       1      1
13    2     1      0       2      1
14    2     0      0       0      0

In [12]:
subDataSet = dataSet[dataSet['house'] == 0].drop('house',axis=1)
subDataSet

    age  work  credit  label
0     0     0       0      0
1     0     0       1      0
2     0     1       1      1
4     0     0       0      0
5     1     0       0      0
6     1     0       1      0
12    2     1       1      1
13    2     1       2      1
14    2     0       0      0