In [4]:
import pandas as pd
def createDateSet():
    dataMat = pd.DataFrame(data=[[1,1,1,1,1,2,2,2,2,2,3,3,3,3,3],
                                 ['S','M','M','S','S','S','M','M','L','L','L','M','M','L','L'],
                                 [-1,-1,1,1,-1,-1,-1,1,1,1,1,1,1,1,-1]],index=['X1','X2','Y'])
    return dataMat

In [5]:
dataMat = createDateSet()
dataMat

    0   1  2  3   4   5   6  7  8  9  10 11 12 13  14
X1   1   1  1  1   1   2   2  2  2  2  3  3  3  3   3
X2   S   M  M  S   S   S   M  M  L  L  L  M  M  L   L
Y   -1  -1  1  1  -1  -1  -1  1  1  1  1  1  1  1  -1

In [ ]:
P